* {
  box-sizing: border-box;
}

.addtaskinput, .addtaskbutton {
  display: block;
  margin: 0 auto;
}
.addtaskbutton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  background-color: lightgreen;
  border: none;
  border-bottom: 2px solid green;
  height: 34px;
  line-height: 34px;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 17px;
  color: rgb(3, 70, 3);
  overflow: hidden;
  cursor: pointer;
}

.addtaskinput{
  width: 400px;
  height: 30px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  background: rgb(182, 247, 182);
  border: none;
  border-bottom: 2px solid rgb(25, 133, 25);
}
